{% load staticfiles cms_tags menu_tags sekizai_tags i18n  %}
<!doctype html>
<html>
    <head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <title>{% block title %}{% page_attribute page_title %}{% endblock title %} - Van Ella Studios</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}"  rel="stylesheet">
    <link href="{% static 'css/ves.css' %}" rel="stylesheet">
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}" ></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

        {% render_block "css" %}
        
    </head>
    <body background="{% static 'img/bg.jpg' %}">
        {% cms_toolbar %}
        <div class="container">
                    <div class="row">
        <div class="header"><img src="{% static 'img/logo-small.png' %}" /></div>
        <!-- nav -->
                        
        <div class="navwrap">    
            <div class="navbar navbar-collapse  js-navbar-header">
                {% block navbar %}
                    <nav class="nav navbar-main navbar-right" id="page-navigation" role="navigation">
                        <h2 class="sr-only">{% trans "Navigation" %}</h2>
                        {% render_model_block request.current_page "changelist" %}
                            {% with dropdown="true" %}
                                <ul class="nav navbar-nav">
                                    {% show_menu 0 1 100 100 "menu/menu.html" %}
                                    <li class="divider" role="presentation"><span class="sr-only">{% trans "Separator" %}</span></li>
                                    {% show_menu_below_id "meta" 0 0 100 100 "menu/menu.html" %}
                                <li><a href="/courses">Classes</a></li>                
				<li><a href="/shows">Events</a></li>                                
</ul>
                            {% endwith %}
                        {% endrender_model_block %}
                
                </nav>
                
                {% endblock navbar %}
            </div>
        </div>
        <!-- end nav -->
                        <div class="container">
        <div class="jumbotron col-lg-8 col-md-10">
            {% block content %}{% endblock %}
        </div>
                        </div>

    <div class="footer">
        	&copy;2017 Van Ella Productions, All Rights Reserved.  Site by <a href="http://punitiveart.com">Punitive Art</a>.
        </div>
		    </div>
        </div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
        {% render_block "js" %}
    </body>
</html>
